# ---------------------------
# .NET / C#
# ---------------------------
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.app
*.mdb
*.ilk
*.log
*.vsix
*.nupkg
*.nuspec
*.userosscache
*.sln.docstates
TestResults/
*.dotCover
*.vsmdi
_ReSharper.*
*.DotSettings.user
*.DotSettings
